mat-tab-group {
  .mat-tab-label-content {
    font-size: 25px;
  }

  .mat-tab-label-active {
    .mat-tab-label-content {
      color: blue;
    }
  }
}

.product-card {
  max-width: 20rem;
  min-height: 10rem;
  max-height: 30rem;
  background-color: #EFEEEF;
  position: relative;
  margin-top: 5rem;

  .product-content mat-card-title,
  mat-card-subtitle,
  mat-card-actions {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  .mat-card-image {
    width: 100%;
    height: 300px;
    display: block;
    margin: auto;
    padding-top: 30px;
  }

  .mat-card-subtitle {
    display: flex;
    justify-content: space-evenly;
  }

  .price-wrap {
    position: relative;

    .original-price:after {
      content: "";
      position: absolute;
      width: 80px;
      transform: rotate(160deg);
      transform-origin: 5% 360%;
      border-top: 1px solid black;
    }
  }

  .sale-div {
    width: 100px;
    height: 35px;
    background-color: red;
    position: absolute;
    left: 0;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
  }
}

.icons-wrapper{
  justify-content: space-evenly;
  min-width: 8rem;
}
.no-products{
  font-size: 1.5rem;
  font-weight: 500;
}

.cards-wrapper-height{
  overflow: auto;
  height: calc(100vh - 38rem);
}
@media screen and (max-width:567px){
  mat-tab-group .mat-tab-label-content,.mat-icon,
  .mat-card-content .mat-card-title,
  .mat-card-content .mat-card-subtitle div,.price-wrap div {
    font-size: 1rem;
  }
  .product-card .price-wrap .original-price:after{
    width: 50px;
  }
}
