<mat-tab-group
  (selectedIndexChange)="titleClicked($event)"
>
  <mat-tab
    [label]="tab.value"
    *ngFor="let tab of tabTitleArray"
  >
  <div class="cards-wrapper-height">
    <div class="container-fluid">
      <div *ngIf="cardsList && cardsList.length>0;else noProducts" class="row justify-content-xl-start justify-content-sm-center">
        <div
          *ngFor="let card of cardsList"
          class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-xl-4"
        >
        <div>
          <mat-card class="product-card">
            <div
              class="sale-div"
              *ngIf="card.discount_percent!==0"
            >- {{card.discount_percent}}%</div>
            <img
              *ngIf="card.image !== null"
              mat-card-image
              [src]="card.image"
              alt="Photo of a product"
            >
            <img
              *ngIf="card.image == null"
              mat-card-image
              src="assets/images/ecommerce-bg.png"
              alt="Photo of a product"
            >
            <mat-card-content class="product-content">
              <mat-card-title>
                <div>
                  <span
                    class="text-ellipse"
                    [title]="card.productName"
                  > {{card.productName}} </span>
                </div>
              </mat-card-title>
              <mat-card-subtitle>
                <div
                  *ngIf="card.discount_percent!==0"
                  class="fs-30"
                  [ngClass]="{'light-blue':card.discount_percent!==0}"
                > ${{card.new_price}}</div>
                <div class="price-wrap">
                  <div [ngClass]="{'original-price fs-25':card.discount_percent!==0,
                      'light-blue fs-30':card.discount_percent==0}"> ${{card.old_price}}</div>
                </div>
              </mat-card-subtitle>
              <mat-card-actions>
                <div class="icons-wrapper d-flex justify-content-evenly">
                  <div
                    (click)="navigateToEdit(card.id)"
                  >
                    <mat-icon>edit</mat-icon>
                  </div>
                  <div
                    (click)="deleteProduct(card.id,card)"
                  >
                    <mat-icon>delete</mat-icon>
                  </div>
                </div>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </div>
        </div>
      </div>
      <ng-template #noProducts>
        <div class="row">
          <div class="col-12 justify-content-center align-items-center">
            <i class="no-products">
              No products available
            </i>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  </mat-tab>
</mat-tab-group>

