header{
  .product-header-wrapper {
    display: flex;
    align-items: center;
    background-image: url("src/assets/images/bg-1400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
    height: auto;
    .title-wrap{
      padding-left: 150px;
      color: #ffffff;
      font-family: 'Source Sans Pro';
      .main-title {
        font-size: 80px;
        margin: 0;
        line-height: 1;
      }
      .current-year {
        font-size: 65px;
        margin: 0;
        padding-left: 15px
        ;
      }
    }
  }
}
.products-page {
  .mat-tab-list .mat-tab-labels {
    justify-content: center;
  }
  .add-product {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 30rem;
    right: 40px;
    z-index: 9999;
    .mat-button-wrapper {
      font-size: 40px;
    }
  }
}

@media screen and (max-width:576px){
  .products-page .product-header-wrapper .title-wrap {
    padding: 3rem;
    .main-title,.current-year {
      font-size: 2rem;
      padding:0 ;
    }
  }
  .products-page .add-product .mat-button-wrapper {
    font-size: 1rem;
  }
  .products-page .add-product{
    width: 2.5rem;
    height: 2.5rem;
  }
  .products-page .mat-fab .mat-button-wrapper{
    padding: 7px 0;
  }
}
