<header>
  <div class="product-header-wrapper">
    <div class="title-wrap">
      <h1 class="main-title">Hello {{username}} <br>{{productsImageTitle}}</h1>
      <h2 class="current-year">{{currentYear}}</h2>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="products-page">
          <app-tabs
            [tabsTitle]="tabsTitle"
            (selectedIndexChange)="titleClicked($event)"
            (actionButtonEmitter)="ondeleteClick($event)"
            [cardsList]="products"
          ></app-tabs>
        <button
          mat-fab
          color="primary"
          class="add-product"
          [routerLink]="['/add-product']"
          >+</button>
      </div>
    </div>
  </div>
</div>
