<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<mat-table mat-table matSort  [dataSource]="dataSource">
  <ng-container *ngFor="let column of columns" cdkColumnDef="{{column.columnDef}}">
    <mat-header-cell mat-header-cell *cdkHeaderCellDef mat-sort-header> {{column.name}} </mat-header-cell>
    <mat-cell mat-cell *cdkCellDef="let row"> {{column.getColumnVal(row)}} </mat-cell>
  </ng-container>
  <mat-header-row *cdkHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *cdkRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>


