<div class="main-wrapper">
  <section>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </section>
  <footer>
    <div class="footer-wrapper">
      <app-footer></app-footer>
    </div>
  </footer>
</div>

