<div class="add-product-page">
  <div class="add-product-wrapper">
    <mat-card class="card">
      <form
        [formGroup]="productForm"
        (ngSubmit)="onFormSubmit()"
      >
        <div
          class="image-upload center-element"
          *ngIf="imageURL"
        >
          <img
            mat-card-image
            [src]="imageURL"
            alt="avatar"
          >
          <input
            type="file"
            accept="image/*"
            name="image"
            class="image-input"
            (change)="onFileSelected($event)"
          >
        </div>
        <div
          class="image-upload center-element"
          *ngIf="!imageURL"
        >
          <div class=" d-flex justify-content-center align-items-center mb-16">
            <mat-icon class="alternative-image">backup</mat-icon>
          </div>
          <input
            type="file"
            accept="image/*"
            name="image"
            class="image-input"
            (change)="onFileSelected($event)"
          >
        </div>
        <div class="mt-4">
          <mat-form-field
            appearance="outline"
            class="full-width"
          >
          <mat-label for="name">Product Name</mat-label>
            <input
              matInput
              type="text"
              placeholder="Product Name"
              formControlName="productName"
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Product Price</mat-label>
            <input formControlName="old_price" matInput type="number" class="example-right-align">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
        </div>
        <div class="my-2 d-flex justify-content-end">
          <button
            type="submit"
            mat-raised-button
            [disabled]="!productForm.valid"
            color="primary"
            style="height: 2rem;"
            class="w-25"
          > save</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
