.add-product-wrapper {
  display: grid;
  grid-template-columns: minmax(300px, 30rem);
  align-content: center;
  justify-content: center;

  .card {
    margin: 30px;
    padding: 3rem;
    margin-top: 2rem;
    overflow: auto;
    min-height: calc(100vh - 10rem);

    .image-upload {
      margin: auto;
      width: 8rem;
      height: 8rem;
      border: dashed;
      position: relative;
      .mat-card-image{
        margin: -16px;
      }
      .alternative-image {
        font-size: 35px;
      }
      .image-input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.add-product-page {
  display: flex;
  justify-content: center;
  overflow: auto;
  height: calc(100vh - 3rem);
  background-image: url("src/assets/images/ecommerce-bg.png");
  background: linear-gradient(to top right, darkmagenta 0%, lightblue 100%);
}

@media (max-width:576px){
  .add-product-wrapper {
    .card {
      min-height: calc(100vh - 30rem);

      .image-upload{
        min-height: 10rem;
      }
    }
  }
}
@media (min-width:768){
  .add-product-wrapper {
    .card {
      .image-upload{
        min-height: 15rem;
        min-width: 15rem;
      }
    }
  }
}
