.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(450px, auto) 1fr;
  padding: 15px;
  padding-top: 5rem;
  height: calc(100vh - 3rem);
  .mat-card {
    box-shadow: none;
    padding: 30px;
  }
  .sign-in-header {
    margin: 0;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  .btn-primary {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }
  .email-label {
    font-weight: 700;
    margin-bottom: 2px;
  }
  .new-account{
    position: relative;
    text-align: center;
    z-index: 2;
    h5 {
      font-size: 12px;
      padding: 0 8px;
      color: #767676;
      font-weight: 400;
      background-color: #ffffff;
      z-index: 2;
      position: relative;
      display: inline-block;
    }
  }
  .new-account::after {
    content: "";
    position: absolute;
    border-top: 1px solid #e7e7e7;
    top: 50%;
    display: block;
    height: 1px;
    width: 100%;
    z-index: 1;
  }
  .btn-secondary{
    text-align: center;
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    width: 100%;
    font-size: 13px;
    border-radius: 3px;
  }
}
