<div class="wrapper">
  <div></div>
  <div>
    <div>
      <mat-card class="border-grey">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <mat-grid-list cols="6" rowHeight="25px" fxLayout="column" gutterSize="10px" fxFill>
            <mat-grid-tile [colspan]="6" [rowspan]="2" fxLayout fxFlex>
              <h2 fxFlex="100" fxLayoutAlign="start end" class="sign-in-header">Sign-In</h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6" [rowspan]="3" fxLayout fxFlex>
              <div fxLayout="column" fxFill>
                <div fxLayout="column" fxFlex>
                  <div fxFlex="100" fxLayoutAlign="start end">
                    <label for="email" class="email-label">
                      Email (phone number if mobile account)
                    </label>
                  </div>
                  <div fxFlex="100" fxLayoutAlign="center center">
                    <mat-form-field fxFlex="100" appearance="outline">
                      <mat-label for="email"></mat-label>
                      <input matInput type="text" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />

                      <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                        <div *ngIf="form.email.errors.required">Username is required</div>
                      </div>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile fxLayout fxFlex [colspan]="6" [rowspan]="2">
              <div fxFlex="100" fxLayoutAlign="center center">
                <mat-form-field fxFlex="100" appearance="outline">
                  <mat-label for="password">Password</mat-label>
                  <input matInput type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />

                  <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                    <div *ngIf="form.password.errors.required">Password is required</div>
                  </div>
                </mat-form-field>
              </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="6" [rowspan]="2" fxLayout fxFlex>
              <button fxFlex="100" mat-stroked-button class="btn-primary">Continue</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6" [rowspan]="2" fxLayout fxFlex>
              <span>
                By continuing, you agree to our conditions of Use and Privacy Notice
              </span>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </mat-card>
      <div class="new-account">
        <h5>
          New User?
        </h5>
      </div>
      <button mat-stroked-button class="btn-secondary">Create your Account</button>
    </div>
  </div>
  <div></div>
</div>
