/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button:focus{
  outline: none;
}
.mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
.mat-form-field-label-wrapper { top: -1.5em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
/** Generals **/
.text-ellipse {
  min-width: 80%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box-shadow-none {
  box-shadow: none;
}
.mat-icon{
  cursor: pointer;
}
/** Centering **/

.center-element {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}
.justify-content-center {
    display: flex;
    justify-content: center;
}

/** Separators **/
.separator-20px {
  height: 20px;
}

/** Widths **/
.full-width {
  width: 100%;
}
.w-100 {
  width: 100px;
}

/** Heights **/
.h-100 {
  height: 100px;
}

/** Colors **/
.light-blue {
  color: #44a6c6;
}

/** Fonts **/
.fs-25 {
  font-size: 25px;
}
.fs-30 {
  font-size: 30px;
}

/** Margin Bottom **/
.mb-16 {
  margin-bottom: 16px;
}
.mb-22 {
  margin-bottom: 22px;;
}
/** Padding **/
.padding-15 {
  padding: 15px;
}

/** Borders **/
.border-grey {
  border: 1px solid #e8e8e8;
}

/** Background Colors **/
.bg-grey {
  background-color: #dcdcdc;
}
@media (max-width:576px){
  *{
    font-size: 1rem;
  }
}
@media (min-width:768px){
  *{
    font-size: 32px;
  }
}
@media (min-width:992px) and (min-width:1200px){
  *{
    font-size: 32px;
  }
}
