<div class="footer d-flex justify-content-center align-items-center">
  <div class="container-fluid justify-content-center">
    <div class="row">
      <div class="col-12"> &copy;2020 Interesting Times Products.All Rights Reserved.Terms of use and Privacy Policy </div>
    </div>
  </div>
</div>
