$text-color: rgb(109,109,109);
$bg-color:#000000;
.footer {
  min-height: 3rem;
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: $text-color;
  background-color: $bg-color;
}
